<launch>
    <arg name="map" default="drwall_low_1.3.yaml" />
    <group ns="mapf_base">
        
        <node pkg="map_server" type="map_server" name="map_server" args="$(find icts_ros)/map/$(arg map)" />
    </group>
    <node pkg="icts_ros" type="icts_ros" name="icts_ros" output="screen"/>

</launch>